---
import { IContactProps } from "@types";

const { email } = Astro.props as IContactProps;
const pClasses = "dark:text-light text-lg";
---

<article class="w-full max-h-[25rem] overflow-hidden relative group">
    <p class={`${pClasses}`}>Let's collaborate!</p>
    <p class={`${pClasses} mb-8`}>
        Contact me at <a
            class="font-bold dark:text-light"
            href={`mailto:${email}`}>{email}</a
        > to set up a meeting.
    </p>
</article>
<p class={pClasses}>All consultations are free.</p><p class={pClasses}>
    We will discuss your project's goals, timeline, and estimated costs.
</p>
