---
import MetaHead from "@components/general/MetaHead.astro";
import ExperienceWrapper from "@components/home/ExperienceWrapper.astro";
import Hero from "@components/home/Hero.astro";
import ProjectsWrapper from "@components/home/ProjectsWrapper.astro";
import { info } from "@data";
import Layout from "@layouts/Layout.astro";
import type { IProject } from "@types";

const featuredLimit = 6;
const featuredProjects = info.projects.reduce<IProject[]>((acc, project) => {
  if (project.isFeatured && acc.length < featuredLimit) {
    acc.push(project);
  }
  return acc;
}, []);
---

<!doctype html>
<html lang="en">
  <head>
    <MetaHead title={"Portfolio"} description={info.metaDescriptions.home} />
  </head>

  <body>
    <Layout>
      <Hero name={info.name} summary={info.summary} />

      <hr class="my-12 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />

      {/* Download Resume */}
      <div class="mb-6 flex">
        <a
          target="_blank"
          href={info.resumeUrl}
          aria-label="download-resume"
          class="download-resume"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-download inline-block"
            ><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"
            ></path><polyline points="7 10 12 15 17 10"></polyline><line
              x1="12"
              y1="15"
              x2="12"
              y2="3"></line></svg
          >
          <span class="ml-1 text-sm leading-none">Resume</span>
        </a>
      </div>

      <ExperienceWrapper heading={"Experience"} items={info.experience} />

      <hr class="my-12 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />

      <ExperienceWrapper heading={"Education"} items={info.education} />

      <hr class="my-12 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />

      <ExperienceWrapper
        heading={"Certifications"}
        items={info.certifications}
      />

      <hr class="my-12 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />

      <section class="mt-16">
        <h2 class="dark:text-light">Featured Projects</h2>
        <ProjectsWrapper projects={featuredProjects} />
      </section>
    </Layout>
  </body>
</html>
