---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";

const featureProjects = info.projects.map((project, index) => {
    if (project.isFeatured && index < 6) {
        return project;
    }
});
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <MetaHead
            title={"Portfolio"}
            description={info.about}
            ogImageUrl={info.ogImageUrl}
        />
    </head>
    <body>
        <Layout>
            <Hero name={info.name} about={info.about} />
            <Experience title={"EXPERIENCE"} details={info.experience} />
            <Experience title={"EDUCATION"} details={info.education} />
            <Experience
                title={"CERTIFICATIONS"}
                details={info.certifications}
            />
            <div class="flex">
                <a
                    target="_blank"
                    href="assets/resume/Dennis Drueck FastTrack Resume 2023.1.10.pdf"
                    aria-label="download-resume"
                    id="download-resume"
                    class="dark:text-light rounded-lg mb-16 p-4 bg-slate-200 dark:bg-[#202020]"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="18"
                        height="18"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="inline feather feather-download"
                        ><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"
                        ></path><polyline points="7 10 12 15 17 10"
                        ></polyline><line x1="12" y1="15" x2="12" y2="3"
                        ></line></svg
                    > Download Resume
                </a>
            </div>
            <section>
                <h2 class="w-[15rem] dark:text-light mt-16">
                    FEATURED PROJECTS
                </h2>
                <ProjectsWrapper projects={featureProjects} />
            </section>
        </Layout>
    </body>
</html>
