---
import { IExperiences } from "@types";

const { title, details } = Astro.props as IExperiences;
---

<section
    class="flex flex-col items-start justify-between dark:text-light sm:flex-row"
>
    <h2 class="mt-16 w-[15rem]">{title}</h2>
    <div class="w-full">
        {
            details.map((item) => (
                <div class="my-16">
                    <div class="flex flex-wrap items-center justify-between">
                        <h3 class="text-xl font-semibold">{item.title}</h3>
                        <p class="dark:text-gray text-sm">
                            {item.startDate} – {item.endDate}
                        </p>
                    </div>
                    <h3 class="text-xl font-semibold">{item.name}</h3>
                    <p class="text-darkblue dark:text-blue mt-3 text-sm">
                        {item.location}
                    </p>
                    <ul class="mt-3">
                        {item.description.map((item) => (
                            <li class="dark:text-gray mb-2 sm:list-disc">
                                <div>{item}</div>
                            </li>
                        ))}
                    </ul>
                </div>
            ))
        }
    </div>
</section>
